.evth-sing-in {
    display: inline-block;
    width: 11px;
    height: 10px;
    background: url('../img/sprite.png') -12px 0 no-repeat;
}
.evth-arrows {
    display: inline-block;
    width: 11px;
    height: 22px;
    background: url('../img/sprite.png') 0 -147px no-repeat;
}
.evth-cargo {
    display: inline-block;
    width: 11px;
    height: 10px;
    background-image: url('../img/sprite.png');
    background-repeat: no-repeat;
}
.evth-cargo-h {
    background-position: 0 -171px;
}
.evth-cargo-w {
    background-position: 0 -183px;
}
.evth-cargo-l {
    background-position: 0 -195px;
}
.evth-cargo-m {
    background-position: 0 -207px;
}
.evth-cargo-tel {
    background-position: 0 -219px;
    width: 6px;
}
.evth-row {
    width: 442px;
    margin: 0 auto;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
.col-2 {
    width: 50%;
    float: left;
    padding: 0 25px;
}
.col-3 {
    width: 33.33%;
    float: left;
    padding: 0;
}
.col-4 {
    width: 25%;
    float: left;
}