/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/node_modules
/.sass-cache
/app/views/counters
/public/evth/public/video
*.clpprj
app/config/mail.php
/nbproject/private/
/24062016