@import "compass/css3";
@import "reset.scss";
@import "fonts.scss";
@import "mixins.scss";
.overlay {
  @include clearfix;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: #262829;
  padding-bottom: 20px;
}
.inner {
  @extend %inner;
  background: #fff;
  @extend %grey-border-bottom;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 10px;
}
.header-wrapper {
  width: 100%;
  height: 41px;
  background: $orange;
  border-bottom: 3px solid darken($orange, 10%);
}
.header {
  @extend %inner;
  &__logo {
    display: block;
    float: left;
    padding: 7px 0 0 9px;
  }
}
#logo_svg {
  path {
    @include transition(all .2s ease-out);
  }
  &:hover {
    path {
      fill: $violet;
    }
  }
}
.user-block {
  width: 222px;
  float: right;
  padding-top: 12px;
  &__settings {
    display: inline-block;
    float: left;
    color: #fff;
    text-decoration: none;
    @include transition(color .15s ease-out);
    &:hover {
      color: $violet;
    }
  }
  &__name {
    display: inline-block;
    @include hl(14px);
    color: #fff;
    padding-left: 10px;
  }
  &__logout {
    display: block;
    float: right;
    border: 1px solid #fff;
    @include border-radius(5px);
    @include hl(14px);
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    margin-top: -5px;
    @include transition(color .15s ease-out);
    &:hover {
      color: $violet;
      border-color: $violet;
      text-decoration: none;
    }
  }
}
.badge {
  @include hr(14px);
  background: $violet;
}
.nav {
  @extend %inner;
  padding: 0;
  width: 1170px;
  text-align: justify;
  font-size: 0;
  padding-top: 17px;
  margin-bottom: 12px;
  border-bottom: 1px solid #fff;
  overflow: visible;
  display: table;
  color: #fff;
  &__link {
    display: table-cell;
    color: #fff;
    @include hl(18px);
    text-decoration: none;
    padding-bottom: 12px;
    position: relative;
    @include transition(all .2s ease-out);
    cursor: pointer;
    &:after {
      content: '';
      display: block;
      width: 0;
      position: absolute;
      bottom: -2px;
      height: 3px;
      background: $orange;
      @include transition(all .2s ease-out);
    }
    &:hover {
      color: $orange;
      // @include hm(18px);
      &:after {
        width: 100%;
      }
      .subnav {
        display: block;
      }
    }
    &--active {
      @extend .nav__link;
      color: $orange;
      &:after {
        width: 100%;
      }
    }
  }
  &__icon {
    display: block;
    font-size: 30px;
    float: left;
    margin-right: 5px;
    margin-left: 10px;
  }
  &__text {
    display: block;
    margin-top: 5px;
    float: left;
  }
}
.subnav {
  display: none;
  position: absolute;
  width: 100%;
  background: #262829;
  top: 44px;
  z-index: 3;
  border-bottom: 3px solid #fff;
  &__link {
    display: block;
    width: 100%;
    color: #fff;
    @include hl(14px);
    text-decoration: none;
    padding: 8px 5px;
    &:hover {
      color: $orange;
      text-decoration: none;
    }
  }
}
h4 {
  @include hb(25px);
  color: rgba(#000, .8);
  padding-bottom: 25px;
}
td{
  @include hr(14px);
}
th {
  @include hb(16px);
}
.pagination {
  @include hr(14px);
}
.btn {
  @include hr(12px);
}
p,h5 {
  @include hr(14px);
  padding-bottom: 10px;
  line-height: 18px;
}
label {
  @include hr(14px);
}
.input-group-addon {
  font-family: 'HelveticaRegular';
}
input {
  font-family: 'HelveticaRegular';
}
[class^="text"], .alert  {
  font-family: 'HelveticaRegular';
}
.btn-primary, .btn-danger, .btn-warning, .btn-success, .btn-default, .btn-info {
  background: transparent;
  border: 1px solid rgba($violet, .8);
  color: $violet;
  &:hover,&:active,&:focus {
    background: rgba($violet,.1);
    color: $violet;
    border: 1px solid rgba($violet, .8);
    &:active {
      background: rgba($violet,.1);
      color: $violet;
      border: 1px solid rgba($violet, .8);
    }
  }
  &.active {
    color: #fff;
    background: $violet;
    border: 1px solid rgba($violet, .8);
    &:hover,&:active,&:focus {
      background: rgba($violet,.1);
      color: $violet;
      border: 1px solid rgba($violet, .8);
    }
  }
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background: rgba($violet,.9);
  border-color: $violet;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: $violet;

}
.pagination > li > a, .pagination > li > span {
  color: $violet;
}
