html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
textarea,
button {
  outline-color: transparent;
  outline-offset: 0;
  outline-style: auto;
  outline-width: 0;
  background: transparent;
}
*:focus {
  outline-width: 0px;
}
* {
  box-sizing: border-box;
}
/* font-family: "HelveticaRegular"; */
@font-face {
  font-family: "HelveticaRegular";
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"), url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaBold"; */
@font-face {
  font-family: "HelveticaBold";
  src: url("../fonts/HelveticaBold/HelveticaBold.eot");
  src: url("../fonts/HelveticaBold/HelveticaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"), url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaItalic"; */
@font-face {
  font-family: "HelveticaItalic";
  src: url("../fonts/HelveticaItalic/HelveticaItalic.eot");
  src: url("../fonts/HelveticaItalic/HelveticaItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaItalic/HelveticaItalic.woff") format("woff"), url("../fonts/HelveticaItalic/HelveticaItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaLight"; */
@font-face {
  font-family: "HelveticaLight";
  src: url("../fonts/HelveticaLight/HelveticaLight.eot");
  src: url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"), url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaBlack"; */
@font-face {
  font-family: "HelveticaBlack";
  src: url("../fonts/HelveticaBlack/HelveticaBlack.eot");
  src: url("../fonts/HelveticaBlack/HelveticaBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBlack/HelveticaBlack.woff") format("woff"), url("../fonts/HelveticaBlack/HelveticaBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaHeavy"; */
@font-face {
  font-family: "HelveticaHeavy";
  src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot");
  src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaHeavy/HelveticaHeavy.woff") format("woff"), url("../fonts/HelveticaHeavy/HelveticaHeavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaMedium"; */
@font-face {
  font-family: "HelveticaMedium";
  src: url("../fonts/HelveticaMedium/HelveticaMedium.eot");
  src: url("../fonts/HelveticaMedium/HelveticaMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaMedium/HelveticaMedium.woff") format("woff"), url("../fonts/HelveticaMedium/HelveticaMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaThin"; */
@font-face {
  font-family: "HelveticaThin";
  src: url("../fonts/HelveticaThin/HelveticaThin.eot");
  src: url("../fonts/HelveticaThin/HelveticaThin.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaThin/HelveticaThin.woff") format("woff"), url("../fonts/HelveticaThin/HelveticaThin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaUltraLight"; */
@font-face {
  font-family: "HelveticaUltraLight";
  src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot");
  src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaUltraLight/HelveticaUltraLight.woff") format("woff"), url("../fonts/HelveticaUltraLight/HelveticaUltraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaBoldItalic"; */
@font-face {
  font-family: "HelveticaBoldItalic";
  src: url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.eot");
  src: url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.woff") format("woff"), url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaBlackItalic"; */
@font-face {
  font-family: "HelveticaBlackItalic";
  src: url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.eot");
  src: url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.woff") format("woff"), url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaLightItalic"; */
@font-face {
  font-family: "HelveticaLightItalic";
  src: url("../fonts/HelveticaLightItalic/HelveticaLightItalic.eot");
  src: url("../fonts/HelveticaLightItalic/HelveticaLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLightItalic/HelveticaLightItalic.woff") format("woff"), url("../fonts/HelveticaLightItalic/HelveticaLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaMediumItalic"; */
@font-face {
  font-family: "HelveticaMediumItalic";
  src: url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.eot");
  src: url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.woff") format("woff"), url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaHeavyItalic"; */
@font-face {
  font-family: "HelveticaHeavyItalic";
  src: url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.eot");
  src: url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.woff") format("woff"), url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaThinItalic"; */
@font-face {
  font-family: "HelveticaThinItalic";
  src: url("../fonts/HelveticaThinItalic/HelveticaThinItalic.eot");
  src: url("../fonts/HelveticaThinItalic/HelveticaThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaThinItalic/HelveticaThinItalic.woff") format("woff"), url("../fonts/HelveticaThinItalic/HelveticaThinItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaUltraLightItalic"; */
@font-face {
  font-family: "HelveticaUltraLightItalic";
  src: url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot");
  src: url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.woff") format("woff"), url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.evth-sing-in {
  display: inline-block;
  width: 11px;
  height: 10px;
  background: url('../img/sprite.png') -12px 0 no-repeat;
}
.evth-arrows {
  display: inline-block;
  width: 11px;
  height: 22px;
  background: url('../img/sprite.png') 0 -147px no-repeat;
}
.evth-cargo {
  display: inline-block;
  width: 11px;
  height: 10px;
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
}
.evth-cargo-h {
  background-position: 0 -171px;
}
.evth-cargo-w {
  background-position: 0 -183px;
}
.evth-cargo-l {
  background-position: 0 -195px;
}
.evth-cargo-m {
  background-position: 0 -207px;
}
.evth-cargo-tel {
  background-position: 0 -219px;
  width: 6px;
}
.evth-row {
  width: 442px;
  margin: 0 auto;
}
.evth-row:after {
  content: "";
  display: table;
  clear: both;
}
.col-2 {
  width: 50%;
  float: left;
  padding: 0 25px;
}
.col-3 {
  width: 33.33%;
  float: left;
  padding: 0;
}
.col-4 {
  width: 25%;
  float: left;
}
.evth-btn {
  display: inline-block;
  font-family: "HelveticaRegular", sans-serif;
  font-size: 14px;
  background: #ccc;
  border: none;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #b3b3b3;
}
.evth-btn:active {
  background: #999999;
  border: 1px solid #808080;
}
.evth-btn:hover {
  background: #b3b3b3;
  border: 1px solid #999999;
}
.evth-btn:hover:active {
  background: #999999;
  border: 1px solid #808080;
}
.evth-right-text {
  text-align: right;
}
a.evth-btn {
  text-decoration: none;
  color: #000;
  line-height: normal;
}
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}
.overlay {
  width: 100%;
  min-width: 1000px;
  height: 100vh;
}
.overlay:after {
  content: "";
  display: table;
  clear: both;
}
a {
  text-decoration: underline;
  font-family: "HelveticaRegular", sans-serif;
  font-size: 16px;
}
a:hover {
  text-decoration: none;
}
.sidebar {
  width: 25%;
  min-width: 250px;
  height: 100%;
  float: left;
  background-color: #333;
  color: #fff;
}
.sidebar:after {
  content: "";
  display: table;
  clear: both;
}
.sidebar a {
  color: inherit;
  display: block;
  padding: 10px;
  border: 1px solid transparent;
  border-bottom: 1px solid #fff;
  text-decoration: none;
  /*.transition(.2s);*/
}
.sidebar a:hover,
.sidebar a.active {
  background: #1a1a1a;
}
.content {
  float: left;
  padding: 20px;
  font-family: "HelveticaRegular", sans-serif;
  font-size: 16px;
  width: 75%;
  min-width: 750px;
}
.content:after {
  content: "";
  display: table;
  clear: both;
}
h2 {
  font-size: 18px;
  padding: 5px;
}
.input-wrapper {
  padding: 5px;
}
.input-wrapper label {
  display: block;
  padding: 3px 0;
}
.input-wrapper input {
  display: block;
  width: 300px;
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-family: "HelveticaRegular", sans-serif;
  font-size: 16px;
}
.input-wrapper input:focus {
  -webkit-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.5);
}
.input-wrapper .text-danger {
  font-size: 12px;
  color: #9E0000;
}
.input-wrapper.long-inputs input {
  width: 100%;
}
.input-wrapper.col-2 {
  padding: 5px;
}
.input-wrapper.col-2 input {
  width: 100%;
}
.square-wrapper {
  width: 100%;
  padding: 5px;
}
.square-inner {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.square-inner:hover {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
.square-inner .left {
  width: 80%;
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
}
.square-inner .left span {
  font-size: 14px;
  display: block;
  line-height: 1.3em;
}
.square-inner .right {
  width: 20%;
  float: right;
  padding: 10px;
}
.square-inner .right a {
  margin-bottom: 5px;
  display: block;
  text-align: center;
}
.square-inner:after {
  content: "";
  display: table;
  clear: both;
}
.red {
  background-color: rgba(255, 0, 0, 0.1);
}
.green {
  background-color: rgba(0, 255, 0, 0.1);
}
.text-wrapper {
  padding: 5px;
}
.text-success {
  margin: 5px;
  color: #fff;
  background-color: #089900;
  display: block;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
p {
  line-height: 1.3em;
}
strong {
  font-family: "HelveticaBold", sans-serif;
  font-size: 13px;
  font-size: inherit;
}
.footer {
  background-color: #333;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 3;
  color: rgba(0, 0, 0, 0.5);
  background-color: #eee;
  border-color: rgba(0, 0, 0, 0.8);
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 0, 0, 0.8);
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.8);
}
